@import 'colors'
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Manrope
  scrollbar-width: thin
  scrollbar-color: black white
  -webkit-tap-highlight-color: transparent

::-webkit-scrollbar 
  width: 8px
  height: 8px
  background-color: transparent
    
::-webkit-scrollbar-thumb
  background: black
  border-right: 1px solid white

html
  font-size: 14px
  background-color: var(--background)
  min-height: 100vh

button, input, textarea, select
  outline: none
  border: none
  background-color: transparent
  color: var(--white)
  font-size: 14px

input, textarea, *[contenteditable]
  &:focus
    outline: none

button
  transition: background-color 0.1s, color 0.1s
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  color: white
  background-color: var(--button-background)
  position: relative
  text-transform: lowercase
  padding: 9px 21px
  font-weight: bold

  &:hover
    background-color: var(--subtext)

  &[disabled]
    opacity: 0.7
    pointer-events: none

  > svg
    height: 45%
    opacity: 0.9

a
  color: var(--link)
  text-decoration: none
  
  &:hover
    text-decoration: underline

.subtext
  color: var(--subtext)
  font-weight: bold
  font-size: 14px

h1
  font-size: 30px

h1, h2, h3, h4, h5, h6
  color: var(--header)

.radius, button
  border-radius: 3px